*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


.nav{
    background-color: crimson ;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding: 0 1rem;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 100; /* Set a high z-index to ensure the navbar is on top */
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li{
    transition: 0.3s;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover{
    background-color: white;
    color: crimson;
    
}


