/* RestaurantMenu.css */

/* Style for the menu items */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 8px 0;
  }
  
  .dish-name {
    font-weight: bold;
  }
  
  .dish-price {
    color: #777;
    margin-left: 20px;
  }
  
  .quantity-input {
    width: 40px;
    text-align: center;
    margin-left: 20px;
  }
  
  /* Style for the error message */
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  /* Style for buttons */
  button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #a80000;
  }
  
  /* Style for the Cart */
  h2 {
    margin-top: 20px;
  }
  
  /* Style for Cart items */
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 8px 0;
  }
  